@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

.one:hover span:last-child {
  width: 100%;
}

.slick-next:before,
.slick-prev:before {
  color: red !important;
  font-size: 30px !important;
  z-index: 1;
}

.slick-slider {
  overflow: hidden;
}
